.clothing {
  margin-top: 100px;
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  color: #a89565;
}

.bottom-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.top-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.top-container img {
  width: 60%;
  opacity: 1;
  position: absolute;
  left: 14%;
  transition: z-index linear 0.5s, box-shadow linear 0.5s, filter linear 0.5s;
  z-index: 50;
}

.top-container img:hover {
  box-shadow: 10px 5px 20px black;
  filter: blur(3px);
  cursor: pointer;
  z-index: 30;
}

.c {
  position: relative;
}

.bottom-container img {
  width: 80%;
  opacity: 1;
  position: absolute;
  left: 14%;
  transition: z-index linear 0.5s, box-shadow linear 0.5s, filter linear 0.5s;
  z-index: 50;
}

.bottom-container img:hover {
  box-shadow: 10px 5px 20px black;
  filter: blur(3px);
  cursor: pointer;
  z-index: 30;
}

.hide {
  text-align: center;
  position: absolute;
  left: 35%;
  top: 50px;
  z-index: 40;
  display: block;
  pointer-events: none;
  color: black;
}

.hide h2 {
  color: black !important;
  font-size: 20px;
}

.hide p {
  margin-top: 50px;
  font-weight: 300;
}

.hide button {
  padding: 5px 15px;
  margin-top: 20px;
  background-color: transparent;
  border: 0.5px solid black;
  font-weight: 100px !important;
}
