h2 {
  color: #a89565;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 20px;
}

.item img {
  width: 60%;
  position: absolute;
  left: 20%;
  opacity: 1;
  z-index: -1;
  transition: linear 0.5s;
}

.con {
  position: relative;
}

.item img:hover {
  box-shadow: 10px 5px 10px black;
  cursor: pointer;
}
